
<div class="container radial">

    <div class="care-title">
        <h2>How We Find <span>Best Carevgier </span>For You</h2>
    </div>
    <div class="row care-step">


        <div class="col-md-3 svgconnect">

            <img src="assets/Careviger1.svg">
            <h4>1. Initial Consulatation</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
                voluptas officiis impedit. Recusandae quas sit velit .</p>
        </div>
        <div class="col-md-3 svgconnect">
            <img src="assets/Careviger2.svg">
            <h4>2. Customized Care plan</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
                voluptas officiis impedit. Recusandae quas sit velit.</p>
        </div>
        <div class="col-md-3">
            <img src="assets/Careviger3.svg">
            <h4>3. Caregiver Matching</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
                voluptas officiis impedit. Recusandae quas sit velit .</p>
        </div>
        <div class="col-md-3">
            <img src="assets/Careviger4.svg">
            <h4>4. Ongoing Support & Supervision</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex,
                voluptas officiis impedit. Recusandae quas sit velit .</p>
        </div>
    </div>
</div>