<div class="slider-area  slider-height position-relative" data-background="assets/Front/img/bg/hero.png" >
    <div class="slider-active slick-initialized slick-slider">
        <!-- Single Slider -->
        <div class="slick-list draggable">
            <div class="slick-track" style="opacity: 1; ">
                <div class="single-slider slick-slide slick-current slick-active" data-slick-index="0"
                    aria-hidden="false" tabindex="0"
                    style=" position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1;">
                    <div class="slider-cap-wrapper  ">
                        <div class="hero-caption">

                            <h1 data-animation="fadeInLeft" data-delay=".4s" class=""
                                style=" -webkit-animation:fadeInLeft 1s;">The Future of Health Care is Home Care</h1>
                            <p data-animation="fadeInLeft" data-delay=".6s" class=""
                                style="-webkit-animation:fadeInLeft 1s">over a Decade of Trusted Care</p>
                            <!-- Hero Btn -->
                            <a href="" class="btn smoth-scroll" data-animation="fadeInLeft" data-delay=".9s"
                                tabindex="0" style="animation-delay: 0.9s;">REQUEST AN APPOINTMENT</a>
                        </div>
                        
                        <div class="hero-img">
                            <img src="assets/home-hero.png" alt="" data-animation="fadeInRight"
                                data-transition-duration="5s" class="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row coverageline" style="margin:0px;">
    <a><img src="assets/map-pin.svg">UNIVERSACARE AREAS OF COVERAGE</a>
</div>


/ END HEADER SLIDE DESIGN AREA