.covid-info{
    margin-bottom:10px;
    text-align:center;
    font-family: 'Montserrat',sans-serif;
    font-weight:600;
    color: #0047AB;
    box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
    font-size: 16px;
}
.covid-info p{
    padding-top:10px;
    padding-bottom:10px;
    margin:0px;
}
@media (max-width:750px) {
    .covid-info{
        font-size: 10px;
        text-align: center;
    }
    
}
.navbar-nav{
    font-family: 'Montserrrat',sans-serif;
    font-size:18px;
    font-weight: 600;
    margin-left:20px;    
}

.navbar-brand{
    margin-left:5%;
}
        
.navbar-nav a{
color:#2B2D42;
margin-left:20px;

}

.active{
    color:#0047AB !important;
}
@media(min-width:750px){
.nav-phone a{
 color: #0047AB;
 padding-left: 50px;
}
}

.nav-phone a{
    color: #0047AB;  
    
}
